#container { 
	width: 500px;
	font-size: 20px; 
}

.table { 
	display: table; 
	width: 100%; 
	padding-top: 30px; 
}

.row { 
	display: table-row; 
}

#option { 
	display: table-cell; 
	width: 50%; 
	padding: 20px; 
	border: 1px solid #ccc; 
}

.stim_centerbox { /* for trials */
  font-size:43px;
  width:40vw;
  height: 30vw;
  position:absolute;
  top:54%;
  left:50%;
  margin-right:-50%;
  transform: translate(-50%,-50%);
}




.instructions_text_centerbox { /* for instructions block */ 
  font-size:20px;
  width:57vw;
  height: 35vw;
  position:absolute;
  top:37%;
  left:50%;
  margin-right:-50%;
  transform: translate(-50%,-50%);
}

.text_bottombox { /* only for practice feedback response */
  font-size:20px;
  width:67vw;
  height: 2vw;
  position:absolute;
  top:63%;
  left:57.5%;
  margin-right:-50%;
  transform: translate(-50%,-50%);
}


.centerbox { /* for all text blocks */
  width:38vw;
  height: 30vw;
  position:absolute;
  top:57%;
  left:50%;
  margin-right:-50%;
  transform: translate(-50%,-50%);
}


.center-block-text { /* for  centering text blocks */ 
  width:100%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1em;
  font-size: 22px;
  line-height: 120%;
}





img {
    display: block;
    margin: 0 auto;
}
			

.center_image {
  width:3vw;
  height: 3vw;
  position:absolute;
  top:38%;
  left:50%;
  margin-right:-50%;
  transform: translate(-50%,-50%);
}



.left {
  width:9vw;
  height: 9vw;
  position:fixed;
  top: 30%;
  left:32%;
}
.right {
    width:9vw;
  height: 9vw;
  position:fixed;
  top: 30%;
  right:32%;
}